@zoes-iridescent-turquoise: rgba(5, 250, 147, 1.0);
@zoes-iridescent-fuchsia: rgba(250, 5, 108, 1.0);
@zoes-iridescent-cobalt: rgba(26, 5, 250, 1.0);
@zoes-pastel-turquoise: rgba(180, 250, 221, 1.0);
@zoes-pastel-fuchsia: rgba(250, 192, 216, 1.0);
@zoes-pastel-cobalt: rgba(186, 180, 250, 1.0);
@lime-error: rgba(5, 250, 24, 1.0);

@font-face {
    font-family: 'kidswriting';
    src: url('../fonts/BPchildLefty.ttf');
}

body {

    font-family: kidswriting, sans-serif;
    font-weight: 800;
    font-size: 2.3em;
    background-color: @zoes-iridescent-fuchsia;
    color: @zoes-iridescent-cobalt;

    img {
        width: 100%;
    }

    #about {
        display: none;
        width: 100vw;
        height: 100vh;
    }

    .btn-2g {
        width: 100%;
        margin-top: 1em;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        background-color: @zoes-iridescent-turquoise;
        color: @zoes-iridescent-fuchsia;
        border-radius: 0.5em;
    }

    .btn-2g:hover {
        background-color: @zoes-iridescent-fuchsia;
        color: @zoes-iridescent-turquoise;
    }

    #locationAndSettingsImagesWrapper {

        #locationImageWrapper {

            #locationImage {
                width: 4em;
            }
        }

        #settingsImageWrapper {

            #settingsImage {
                width: 4em;
            }
        }
    }

    #locationInputsWrapper {
        display: none;
        width: 13.3em;

        #locationInputs {

            .locationLabel {
                width: 4em;
            }

        }
    }

    #settingsInputsWrapper {
        display: none;

        #settingsInputs {}
    }

    #main {

        #todaysWeather {
            position: relative;
            top: 0px;

            .todaysCurrentTempSpan {
                position: absolute;
                top: 0em;
                left: 0em;
                font-size: 6em;
            }

            .todaysHighTempSpan {
                position: absolute;
                top: 1em;
                right: 1em;
                font-size: 2em;
            }

            .todaysLowTempSpan {
                position: absolute;
                top: 2.5em;
                right: 1em;
                font-size: 2em;
            }
        }

        #otherData {
            padding: 2em;
            border-radius: 1em;
            background-color: @zoes-iridescent-turquoise;

            .weatherLocation {
                font-size: 1.5em;
                font-weight: 900;
            }
        }
    }

    .forecastDayDiv {
        display: none;

        .relativeWrapper {
            position: relative;
            top: 0px;
            margin: 1em;
            border: 1px solid @zoes-pastel-cobalt;
            border-radius: 1em;


            .forecastImage {
                width: 100%;
            }

            .forecastDayAndDate {
                position: absolute;
                top: 1em;
                left: 1em;
                color: @zoes-iridescent-cobalt;
            }

            .forecastHigh {
                position: absolute;
                top: 1em;
                right: 1em;
                color: @zoes-iridescent-cobalt;
            }

            .forecastLow {
                position: absolute;
                top: 2.5em;
                right: 1em;
                color: @zoes-iridescent-cobalt;
            }

            .forecastText {
                position: absolute;
                bottom: 1em;
                left: 1em;
                color: @zoes-iridescent-cobalt;
            }
        }
    }

    #attribution {
        #yahooImage {
            width: 8em;
            margin-left: 2em;
        }
    }

}
